.benefit-category {
    border-radius: 0;
    margin-bottom: -2px;
    font-size: 16px;
    line-height: 30px;
}

.benefit-category .price {
    text-align: right;
}

#info-basic {
    margin-top: 15px;
    margin-bottom: 15px;
}

#resumo-compra {
    width: 100%;
    height: 220px;
    background: #107d4c;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;

}

#resumo-compra div,
#resumo-compra h2 {
    padding-left: 15px;
    padding-right: 15px;
}

#resumo-compra h2 {
    padding-left: 30px;
}

#resumo-compra #adult-price {
    font-size: 40px;
    font-weight: bold;
}

#resumo-compra #adult-price span {
    font-size: 16px;
    font-weight: normal;
}
